/* CSS declarations go here */

html {
    color:#333333;
}

h1 {
    font-family:Verdana,Sans;
    color:black;    
}

.site_table {
  border:2px;
  border-color:#993300;   
  border-style:dotted;
}
